* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

body,
html {
  font-family: "Verdana", sans-serif;
  background-color: #17171c;
  /* background-color: #242443; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game {
  display: flex;
  flex-flow: row;
  background-color: rgb(236, 221, 221);
  border-radius: 8px;
  box-shadow: 10px 10px 10px #320D0D;
  cursor: pointer;
}

.left {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  white-space: nowrap;
  min-width: 200px;
}

.left p {
  text-align: center;
}

.right {
  padding: 24px 24px 24px 0;
}

.game-board {
  background-color: #251831;
  width: 100%;
}

.next-piece-canvas {
  background-color: #f8f2fd;
  outline: 'solid black thin';
}

.game {
  display: flex;
  flex-flow: row;
  background-color: #dbded2;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #110f22;
  cursor: pointer;
}

.next-piece {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  margin-top: 24px;
  box-shadow: 3px 2px 10px #110f22;
}

.game-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 24px;
}

.room237 {
  height: 100vh;
  width: 100vw;
  background-image:
    linear-gradient(to bottom, black 0%, transparent 100%),
    url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 340 490' opacity='0.4'><polygon fill='%238C1A1E' points='229.9,208.7 170.5,243 111,208.7 111,140 170.5,105.7 229.9,140 '/><polygon fill='%238C1A1E' points='0,305.3 59.5,339.6 59.5,408.3 0,442.6 '/><polygon fill='%238C1A1E' points='342.8,442.6 283.3,408.3 283.3,339.6 342.8,305.3 '/><polygon fill='%23D05427' points='91.6,0 0,52.9 0,0 '/><polygon fill='%23D05427' points='340.6,0 340.6,52.9 248.8,0 '/><polygon fill='%23D05427' points='21.4,264.6 102.8,311.6 102.8,431.7 -1.2,491.8 0,544.5 149.7,458.1 149.1,285.1 68.2,236.7 68.2,116.6 172.2,56.5 276.2,116.6 276.2,236.7 192.5,285 192.5,337.1 192.5,337.1 192.5,458.1 342.2,544.5 341,491.8 237,431.7 237,311.6 320.8,263.3 320.8,90.2 171.1,3.8 21.4,90.2 '/></svg>");
  background-size:
    100% 100%,
    167.3px 241px;
  background-repeat:
    no-repeat,
    repeat;
}